
.container{
    border:1px solid black;
    height:100vh;
    position: relative;
    width:50%;
    box-sizing: border-box;
    display:inline-block;
}

.icons{
    position:absolute;
    color:white;
}

.arrows .icons
{
    color:black;
}

/* Style for Boxes */
.box{
    height:200px;
    width:200px;
    position:absolute;
    top:100px;
    border:2px solid black;
    box-sizing: border-box;
    background:#E0D2D2;
}

#box1
{
}

#box2{
    top:120px;
    left:70px;
}

#box3{
    top:35px;
    left:0px;
}

/* For the window navbar */
.navbar
{
    background:black;
    position:relative;
    height:20px;
}

.navbar .icons:hover{
    color:purple;
}

.navbar .icons:active{
    color:blue;
}

.window-maximize-2
{
    display:none;
}


/* Dropable items */

.dropable
{
    height:100vh;
    border:1px solid;
    width:45%;
    box-sizing: border-box;
    display:inline-block;
    position:relative;
}